@use '../../components/details';
@use '../../components/buttons' as button;
@use '../../utilities/responsive';

.about {
    background-color: black;
    padding-top: 50px;
    
    
    &__title {
        grid-column: span 2;
        color: var(--color-light);
                
        @include details.separator(1.5rem);

        animation: fadeIn 5s 1s forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1
        }
    }
    }
    
    &__inner {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive.max(800px) {
            display: block;
            // grid-template-columns: 1fr;
            padding: var(--gap-m);
        }
        
    }
    

    &__content {
        display: block;
        color: var(--color-light);

        @include responsive.max(800px) {
            display: grid;
            grid-template-columns: 1fr; 
            order: 1;
        }
    }

    &__first {
        font-size: var(--font-size-2);
        color: var(--color-light);
    }

    &__second {
        font-size: var(--font-size-1);
        color: var(--color-light-400);
        
    }

    &__image {
        position: relative;
        max-width: 200px;
        max-height: 200px;
        
        animation: fadeIn 5s 1s forwards;
        
        
        
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1
            }
        }
        
        @include responsive.max(800px) {
            // order: 1;
            justify-content: center;
        }
      
    }


    &__button {
        width: auto;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 20px;
        font-size: smaller;
        
        @include button.default($border-color: var(--color-accent));

        @include details.frame();

         // Responsive
         @include responsive.max(800px) {
            padding: 0.5rem 1rem;
            max-width: 6rem;
        }
    }



}    