@use '../../components/details';
@use '../../utilities/responsive';


.projects {
    background-color: black; //prel
    gap: var(--section-gap-inner);
    padding-top: 50px;
    
    // display: grid;
    
    &__title {
    
        grid-column: span 2;
        margin: 0 auto;
        max-width: 800px;
        color: var(--color-light);
        
        @include details.separator(1.5rem);

        animation: fadeIn 5s 1s forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1
        }
    }
    }
    
    &__inner {
        margin: 0 auto;
        // max-width: 800px;
        // width: 100%;
        
        @include responsive.max(800px) {
            padding: var(--gap-m);
            
        }
    }
    

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

.swiper {
    width: 100%;
    height: 500px;
    
    
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    max-width: 800px;
    
    // opacity: 1;
    // transition: 0.5s;


    // &:not(.swiper-slid-active) {
    //     opacity: .5;
    // }

}

.swiper-slide-active {
    .view-project {
        opacity: 1;
    }
    
}

// Lägg in bild
.slide-1 {
   
}

.slide-2 {
    
    }


.slide-3 {
   
}

.view-project {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    svg {
        max-width: 100px;
        max-height: 100px;
        transition: all 0.5s;

    }

    &:hover {
        stroke: var(--color-accent);
    }
}

// Vänster pil
.swiper-button-prev {
    left: 30%;
    color: var(--color-light);

    transition: color 0.5s;

     // Responsive
    @include responsive.max(1440px) {
        left:20%;
    }
    @include responsive.max(1024px) {
        left:15%;
    }
    
    @include responsive.max(800px) {
        left:8%;
    }
    

}

// Höger pil
.swiper-button-next {
    right: 30%;
    color: var(--color-light);

    transition: color 0.5s;

    // &:hover {
    //     color: var(--color-accent);
    // }

     // Responsive
    @include responsive.max(1440px) {
        right:20%;
    }

    @include responsive.max(1024px) {
        right:15%;
    }

    @include responsive.max(800px) {
        right:8%;
    }
}

.swiper-pagination {
    position: relative;
    margin-top: 25px;

    &-bullet {
        background-color: var(--color-light);

        --swiper-pagination-bullet-inactive-opacity: 0.5;
    }
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    
}