:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) *0.75);
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 13%);
  --color-dark-200: hsl(0, 0%, 23%);
  --color-dark-300: #545454;
  --color-dark-400: #6e6e6e;
  --color-dark-500: #878787;
  --color-dark-600: #a1a1a1;
  --color-dark-700: hsl(0, 0%, 73%);
  --color-dark-800: hsl(0, 0%, 83%);
  --color-dark-900: #ededed;
  --color-accent: hsl(180, 100%, 20%);
  --color-accent-200: hsl(180, 100%, 30%);
  --color-accent-300: hsl(180, 100%, 40%);
  --color-accent-400: hsl(180, 100%, 50%);
  --color-accent-500: hsl(180, 100%, 60%);
  --color-accent-600: hsl(180, 100%, 70%);
  --color-accent-700: hsl(180, 100%, 80%);
  --color-accent-800: hsl(180, 100%, 90%);
  --color-accent-900: #B37812;
  --color-light: hsl(0, 0%, 96%);
  --color-light-200: hsl(0, 0%, 81%);
  --color-light-300: hsl(0, 4%, 91%);
  --color-light-400: #d0cdcd;
  --color-light-500: hsl(0, 4%, 71%);
  --color-light-600: hsl(0, 4%, 61%);
  --color-light-700: hsl(0, 4%, 51%);
  --color-light-800: hsl(0, 4%, 41%);
  --color-light-900: hsl(0, 4%, 31%);
  --font-sans: "Open-sans", sans-serif;
  --font-serif: "Gleo", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-width: 75rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.site-header {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100px;
  display: grid;
  padding: 0 var(--gap-xl);
  z-index: 999;
}
.site-header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
}
.site-header__logo {
  display: block;
  width: 50px;
  height: 70px;
  transition: all 0.5s;
}

.menu {
  height: 45px;
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
.menu__link {
  color: var(--color-light);
  transition: all 0.5s;
}
.menu__link:hover {
  color: var(--color-accent);
}
@media screen and (max-width: 1024px) {
  .menu {
    display: grid;
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    grid-template-columns: var(--grid-container);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .menu--visible {
    opacity: 1;
    visibility: visible;
  }
  .menu__list {
    grid-column: inner;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-s);
    padding: 0;
    list-style: none;
  }
  .menu__link {
    color: var(--color-light);
    opacity: 0.8;
    font-family: var(--font-serif);
    font-size: var(--font-size-5);
  }
  .menu__link:hover {
    opacity: 1;
  }
}

.menu-button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-button {
    display: block;
    height: 26px;
    width: 26px;
    position: relative;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 100;
  }
  .menu-button--close .menu-button__hamburger {
    transition: transform 0.2s 0.2s;
    transform: rotate(45deg) translate(-50%, -50%);
  }
  .menu-button--close .menu-button__hamburger:before {
    transition: top 0.2s, transform 0.2s 0.2s;
    transform: rotate(90deg);
    top: 0;
  }
  .menu-button--close .menu-button__hamburger:after {
    transition: width 0.2s;
    width: 0;
  }
  .menu-button__hamburger {
    transform-origin: left top;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 50%;
    transition: transform 0.2s;
    transform: translate(-50%, -50%) rotate(0);
    background-color: var(--color-light);
  }
  .menu-button__hamburger:before, .menu-button__hamburger:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    height: 1px;
    width: 100%;
    background-color: inherit;
  }
  .menu-button__hamburger:before {
    transition: top 0.2s 0.2s, transform 0.2s;
  }
  .menu-button__hamburger:after {
    top: 8px;
    width: 70%;
    transition: width 0.2s 0.2s;
  }
}

.site-footer {
  background-color: black;
  display: grid;
  max-height: 200px;
}
.site-footer .social {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}
.site-footer .social__link:hover path, .site-footer .social__link:hover rect {
  fill: var(--color-accent);
  transition: all 0.5s;
}
.site-footer__copyright {
  color: var(--color-dark-500);
  font-size: var(--font-size-1);
  text-align: center;
}

.hero {
  background-color: black;
  height: 100vh;
  max-height: 800px;
  display: grid;
}
.hero__inner {
  width: 100%;
  color: var(--color-light);
  display: flex;
  justify-content: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.hero__title {
  font-family: var(--font-serif);
  font-size: clamp(4rem, 10vw, 8rem);
  margin: 0;
  opacity: 0;
  animation: fadeIn 5s 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    font-size: 20rem;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  font-family: var(--font-sans);
  font-weight: 300;
  font-style: normal;
  font-size: var(--font-size-3);
  animation: fadeIn 7s 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .hero__text {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 800px) {
  .hero__text {
    font-size: var(--font-size-1);
  }
}
.hero__text span {
  color: var(--color-accent);
  font-size: var(--font-size-5);
  font-weight: 700;
}
.hero__button, .hero__button-right {
  margin: 1rem;
  animation: fadeIn 7s 1s forwards;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
  border-radius: 0;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  transition: font-size 0.2s, background-color 0.5s;
  position: relative;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__button:hover, .hero__button-right:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
  font-size: var(--font-size-2);
}
.hero__button::after, .hero__button-right::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-light);
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  opacity: 0.34;
}
@media screen and (max-width: 800px) {
  .hero__button, .hero__button-right {
    padding: 0.5rem 1rem;
  }
}

.projects {
  background-color: black;
  gap: var(--section-gap-inner);
  padding-top: 50px;
}
.projects__title {
  grid-column: span 2;
  margin: 0 auto;
  max-width: 800px;
  color: var(--color-light);
  animation: fadeIn 5s 1s forwards;
}
.projects__title:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent-900);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects__inner {
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .projects__inner {
    padding: var(--gap-m);
  }
}
.projects img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  max-width: 800px;
}

.swiper-slide-active .view-project {
  opacity: 1;
}

.view-project {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view-project svg {
  max-width: 100px;
  max-height: 100px;
  transition: all 0.5s;
}
.view-project:hover {
  stroke: var(--color-accent);
}

.swiper-button-prev {
  left: 30%;
  color: var(--color-light);
  transition: color 0.5s;
}
@media screen and (max-width: 1440px) {
  .swiper-button-prev {
    left: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-button-prev {
    left: 15%;
  }
}
@media screen and (max-width: 800px) {
  .swiper-button-prev {
    left: 8%;
  }
}

.swiper-button-next {
  right: 30%;
  color: var(--color-light);
  transition: color 0.5s;
}
@media screen and (max-width: 1440px) {
  .swiper-button-next {
    right: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: 15%;
  }
}
@media screen and (max-width: 800px) {
  .swiper-button-next {
    right: 8%;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 25px;
}
.swiper-pagination-bullet {
  background-color: var(--color-light);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.blogs {
  background-color: black;
  padding-top: 50px;
  display: grid;
}
.blogs__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .blogs__inner {
    padding: var(--gap-m);
  }
}
.blogs__title {
  color: var(--color-light);
  animation: fadeIn 5s 1s forwards;
}
.blogs__title:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent-900);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blogs__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-xl);
  margin: 0 auto;
  color: var(--color-light-400);
}
@media screen and (max-width: 800px) {
  .blogs__content {
    grid-template-columns: 1fr;
  }
}

.blog img {
  width: 100%;
  box-shadow: 5px 5px 10px -5px var(--color-light-400);
}
.blog__title {
  color: var(--color-light);
  font-size: var(--font-size-3);
}
.blog__content {
  color: var(--color-light-400);
  font-size: var(--font-size-1);
}
.blog__button {
  margin-top: 1rem;
  font-size: smaller;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
  border-radius: 0;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  transition: font-size 0.2s, background-color 0.5s;
  position: relative;
}
.blog__button:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
  font-size: var(--font-size-2);
}
.blog__button::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-light);
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  opacity: 0.34;
}
@media screen and (max-width: 800px) {
  .blog__button {
    padding: 0.5rem 1rem;
  }
}
.blog__link {
  color: var(--color-light);
  font-size: var(--font-size-1);
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  gap: var(--gap-s);
  opacity: 0.66;
  transition: all 0.5s;
}
.blog__link:hover {
  color: var(--color-light);
  font-size: var(--font-size-2);
  opacity: 1;
}
.blog__link svg {
  transition: all 0.5s;
}
.blog__link svg:hover {
  color: var(--color-light);
  opacity: 1;
}

.about {
  background-color: black;
  padding-top: 50px;
}
.about__title {
  grid-column: span 2;
  color: var(--color-light);
  animation: fadeIn 5s 1s forwards;
}
.about__title:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent-900);
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-s);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .about__inner {
    display: block;
    padding: var(--gap-m);
  }
}
.about__content {
  display: block;
  color: var(--color-light);
}
@media screen and (max-width: 800px) {
  .about__content {
    display: grid;
    grid-template-columns: 1fr;
    order: 1;
  }
}
.about__first {
  font-size: var(--font-size-2);
  color: var(--color-light);
}
.about__second {
  font-size: var(--font-size-1);
  color: var(--color-light-400);
}
.about__image {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  animation: fadeIn 5s 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .about__image {
    justify-content: center;
  }
}
.about__button {
  width: auto;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 20px;
  font-size: smaller;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
  border-radius: 0;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  transition: font-size 0.2s, background-color 0.5s;
  position: relative;
}
.about__button:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light);
  font-size: var(--font-size-2);
}
.about__button::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-light);
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  opacity: 0.34;
}
@media screen and (max-width: 800px) {
  .about__button {
    padding: 0.5rem 1rem;
    max-width: 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
