@mixin default(
    $background: var(--color-accent),  
    $color: var(--color-light), 
    $hover-background: var(--color-accent-200), 
    $hover-color: var(--color-light),
    $border-color: var(--var-light)
    ) {
    background-color: $background;
    color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid $border-color;
    border-radius: 0;
    font-size: var(--font-size-1);
    font-family: var(--font-sans);
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}